<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.housekeeping.dao.OrderMapper">
    <select id="getorderlist" resultType="com.project.housekeeping.pojo.Order">
        SELECT o.*,s.`servicename`,r.`service_scope`,f.`name`,e.state FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
<if test="order_id !=null and order_id !=''">
    AND o.`order_id`=#{order_id}
</if>
<if test="servicename !=null and servicename !=''">
    AND s.`servicename`=#{servicename}
</if>
<if test="name !=null and name !=''">
    AND f.name LIKE CONCAT('%',#{name},'%')
</if>
        AND o.`order_status`=1 limit #{stat},#{end}
    </select>


    <select id="counts" resultType="Integer">
        SELECT COUNT(*) FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        <if test="servicename !=null and servicename !=''">
            AND s.`servicename`=#{servicename}
        </if>
        <if test="name !=null and name !=''">
            AND f.name LIKE CONCAT('%',#{name},'%')
        </if>
        AND o.`order_status`=1
    </select>

    <select id="count" resultType="Integer">
        select count(*) from `order` where order_status=1
    </select>

    <select id="getop" resultType="com.project.housekeeping.pojo.Order">
        SELECT o.*,s.`servicename`,r.`service_scope`,f.`name`,e.state FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        AND o.`id`=#{id}
    </select>

    <select id="getlei" resultType="com.project.housekeeping.pojo.Order">
        SELECT * FROM servicelei
    </select>

    <select id="getservicelist" resultType="com.project.housekeeping.pojo.Order">
        SELECT * FROM services
    </select>
    <select id="getstaff" resultType="com.project.housekeeping.pojo.Order">
         SELECT * FROM `staff`
    </select>
    <select id="getstate" resultType="com.project.housekeeping.pojo.Order">
        select * from service_state
    </select>
    <update id="getupdate" parameterType="Integer">
      UPDATE `order` SET `order_id` = ${order_id},`server_type` = ${server_type},`server_project` = ${server_project},`staff_state` =${staff_state},`staff_service` = ${staff_service},`num_money` = ${num_money} WHERE `id` = ${id}
    </update>


 <!--待派人-->
    <select id="getorder1" resultType="com.project.housekeeping.pojo.Order">
        SELECT o.*,s.`servicename`,r.`service_scope`,f.`name`,e.state FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        <if test="servicename !=null and servicename !=''">
            AND s.`servicename`=#{servicename}
        </if>

        <if test="name !=null and name !=''">
            AND f.name LIKE CONCAT('%',#{name},'%')
        </if>
        AND o.`order_status`=2 limit #{stat},#{end}
    </select>


    <select id="counts1" resultType="Integer">
        SELECT COUNT(*) FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        <if test="servicename !=null and servicename !=''">
            AND s.`servicename`=#{servicename}
        </if>
        <if test="name !=null and name !=''">
            AND f.name LIKE CONCAT('%',#{name},'%')
        </if>
        AND o.`order_status`=2
    </select>

    <select id="count1" resultType="Integer">
        select count(*) from `order` where order_status=2
    </select>

    <update id="getupdate1" parameterType="Integer">
        update `order` set order_status=2 where id=#{id}
    </update>


    <!--服务-->
    <select id="getorder2" resultType="com.project.housekeeping.pojo.Order">
        SELECT o.*,s.`servicename`,r.`service_scope`,f.`name`,e.state FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        <if test="servicename !=null and servicename !=''">
            AND s.`servicename`=#{servicename}
        </if>

        <if test="name !=null and name !=''">
            AND f.name LIKE CONCAT('%',#{name},'%')
        </if>
        AND o.`order_status`=3 limit #{stat},#{end}
    </select>


    <select id="counts2" resultType="Integer">
        SELECT COUNT(*) FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        <if test="servicename !=null and servicename !=''">
            AND s.`servicename`=#{servicename}
        </if>
        <if test="name !=null and name !=''">
            AND f.name LIKE CONCAT('%',#{name},'%')
        </if>
        AND o.`order_status`=3
    </select>

    <select id="count2" resultType="Integer">
        select count(*) from `order` where order_status=3
    </select>
    <update id="getupdate2" parameterType="Integer">
        update `order` set order_status=3 where id=#{id}
    </update>

    <!--完成-->
    <select id="getorder3" resultType="com.project.housekeeping.pojo.Order">
        SELECT o.*,s.`servicename`,r.`service_scope`,f.`name`,e.state FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        AND o.`order_status`=4 limit #{stat},#{end}
    </select>


    <select id="counts3" resultType="Integer">
        SELECT COUNT(*) FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        AND o.`order_status`=4
    </select>

    <select id="count3" resultType="Integer">
        select count(*) from `order` where order_status=4
    </select>

    <!--取消-->
    <select id="getorder4" resultType="com.project.housekeeping.pojo.Order">
        SELECT o.*,s.`servicename`,r.`service_scope`,f.`name`,e.state FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        AND o.`order_status`=5 limit #{stat},#{end}
    </select>


    <select id="counts4" resultType="Integer">
        SELECT COUNT(*) FROM `order` AS o,servicelei AS s,services AS r,staff AS f,service_state AS e
        WHERE o.`server_type`=s.`id` AND o.`server_project`=r.`id` AND o.`staff_service`=f.`id` AND o.`staff_state`=e.id
        <if test="order_id !=null and order_id !=''">
            AND o.`order_id`=#{order_id}
        </if>
        AND o.`order_status`=5
    </select>

    <select id="count4" resultType="Integer">
        select count(*) from `order` where order_status=5
    </select>

    <update id="getupdate3" parameterType="Integer">
        update `order` set order_status=4 where id=#{id}
    </update>
    <update id="getupdate4" parameterType="Integer">
        update `order` set order_status=5 where id=#{id}
    </update>
</mapper>