<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.housekeeping.dao.StaffMapper">
    <select id="staffcha" resultType="com.project.housekeeping.pojo.Staff">
          select * from `staff` where 1=1
          <if test="name!=null || name!=''">
              and `name` like concat('%',#{name},'%')
          </if>
          <if test="set!=null || set!=''">
              and `set` = #{set}
          </if>
          <if test="degree!=null || degree!=''">
              and `degree` = #{degree}
          </if>
          <if test="marital!=null || marital!=''">
             and `marital` = #{marital}
          </if>
          <if test="health!=null || health!=''">
              and `health` = #{health}
          </if>
          <if test="age!=null || age!=''">
               and `age` = #{age}
          </if>
          <if test="state!=null || age!=''">
              and `state` = #{state}
          </if>
          limit #{pageNo},#{pageSize}
    </select>

    <select id="currentPage" resultType="com.project.housekeeping.pojo.Staff">
        select COUNT(*) from `staff` where 1=1
        <if test="name!=null || name!=''">
            and `name` like concat('%',#{name},'%')
        </if>
        <if test="set!=null || set!=''">
            and `set` = #{set}
        </if>
        <if test="degree!=null || degree!=''">
            and `degree` = #{degree}
        </if>
        <if test="marital!=null || marital!=''">
            and `marital` = #{marital}
        </if>
        <if test="health!=null || health!=''">
            and `health` = #{health}
        </if>
        <if test="age!=null || age!=''">
            and `age` = #{age}
        </if>
        <if test="state!=null || age!=''">
            and `state` = #{state}
        </if>
    </select>
</mapper>