<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
订单编号:<label th:text="${top.order_id}"></label>&nbsp;&nbsp;&nbsp;
服务类型:<label th:text="${top.servicename}"></label><br/>
服务项目:<label th:text="${top.service_scope}"></label>&nbsp;&nbsp;&nbsp;
人员状态:<label th:text="${top.state}"></label><br/>
服务人员:<label th:text="${top.name}"></label>&nbsp;&nbsp;&nbsp;
合计金额:<label th:text="${top.num_money}"></label><br/>
面试时间:<label th:text="${top.interview_date}"></label>&nbsp;&nbsp;&nbsp;
服务时间:<label th:text="${top.server_date}"></label><br/>
<a href="selectdai">返回</a>
</body>
</html>